{{ include('partials/_header.twig') }}
{{ include ('partials/_nav.twig') }}
<div class="section-wrapper" id="section-01">
  <section class="block light-content">
    <div class="text-center max-70vh background-cover" style="background-image: url('https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3968cdc236856e1ddb63a975de74074f&auto=format&fit=crop&w=1350&q=80');">
      <div class="overlay section-overlay"></div>
      <div class="content vertical-center text-center">
        <div class="container">
          <h1>Welcome To <strong><span class="color">Foundation Year Computing</span></strong></h1>
          <p class="lead">a pathway to undergraduate</p>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="block">
<div class="section-overlay">
  <div class="section-padding" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
      <div class="section-title center mb-medium text-center">
        <h2 class="mb-small">Begin Your Journey With <strong>DMU</strong></strong></h2>
        <p>Begin your journey into computer science with the Foundation Year In Computing Course.</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-small apply-handle-wrapper">
          <div class="card-item">
            <i class="large-icon process-counter"></i>
            <h4><strong>Start Here</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-small apply-handle-wrapper">
          <div class="card-item">
            <i class="large-icon process-counter"></i>
            <h4><strong>Apply</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-small apply-handle-wrapper">
          <div class="card-item">
            <i class="large-icon process-counter"></i>
            <h4><strong>Attend Open DAy</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-small apply-handle-wrapper">
          <div class="card-item">
            <i class="large-icon process-counter"></i>
            <h4><strong>Begin Your Journey</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="block">
  <div class="section-overlay">
    <div class="section-padding" style="padding-top: 40px; padding-bottom: 80px;">
      <div class="container text-center">
        <div class="section-title center">
          <h2 class="mb-small">Area's Covered on <strong>FYC</strong></h2>
          <p>The course covers the basics of cutting-edge IT topics, such as computer animation, as well as more familiar office applications, such as spreadsheets and databases. Staff and students work together in a friendly and supportive workshop environment.</p>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 service">
            <div class="round-icon-wrapper" data-balloon="Right Click To Edit" data-balloon-pos="top">
              <i class="fa fa-desktop edit-icon"></i>
            </div>
            <h4><strong>Web design</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
          <div class="col-md-3 col-sm-6 service">
            <div class="round-icon-wrapper" data-balloon="Right Click To Edit" data-balloon-pos="top">
              <i class="fa fa-star edit-icon"></i>
            </div>
            <h4><strong>Mobile Apps</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
          <div class="col-md-3 col-sm-6 service">
            <div class="round-icon-wrapper" data-balloon="Right Click To Edit" data-balloon-pos="top">
              <i class="fa fa-user edit-icon"></i>
            </div>
            <h4><strong>Photography</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
          <div class="col-md-3 col-sm-6 service">
            <div class="round-icon-wrapper" data-balloon="Right Click To Edit" data-balloon-pos="top">
              <i class="fa fa-bullhorn edit-icon"></i>
            </div>
            <h4><strong>Marketing</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</div>
<section class="block">
  <div class="row">
    <div class="col-sm-6 background-cover match-height" style="background-image: url('https://source.unsplash.com/random/1600x800');">
    </div>
    <div class="col-md-6 match-height" style="">
      <div class="section-padding">
        <div class="pad-large">
          <h2 class="mb-medium">Begin Your Journey With <strong>DMU</strong></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie in quam sit amet porta. Aenean a nisi sed diam gravida suscipit et a justo. In maximus tortor massa, semper volutpat dui tincidunt eget. Morbi nisi libero,</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ include('partials/_footer.twig') }}