{{ include('partials/_header.twig') }}
{{ include ('partials/_nav.twig') }}
<section class="block">
  <div class="text-center container">
    <div class="row">
      <div class="col-md-12 match-height" style="padding-top: 150px; padding-bottom: -50px;">
        <div class="section-padding">
          <div class="pad-large">
            <h2 class="mb-medium">Meet The | Team <strong>Overview</strong></h2>
            <p>Meet the hardworking foundation year team</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-4" style="padding-bottom: 50px;">
      <div class="hover-overlay">
        <div class="team-avatar">
          <img class="img-responsive" src="https://source.unsplash.com/cvpk5Y4ZWUs/1000x800" alt="">
        </div>
        <div class="overlay-content">
          <h4>John Doe</h4>
          <span>Marketing</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="hover-overlay">
        <div class="team-avatar">
          <img class="img-responsive" src="https://source.unsplash.com/F6hVRIUiTwM/1000x800" alt="">
        </div>
        <div class="overlay-content">
          <h4>Melisa Doe</h4>
          <span>Founder</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="hover-overlay">
        <div class="team-avatar">
          <img class="img-responsive" src="https://source.unsplash.com/vmBik4xv27s/1000x800" alt="">
        </div>
        <div class="overlay-content">
          <h4>Alex Atkinson</h4>
          <span>Director</span>
        </div>
      </div>
    </div>
  </div>
  <!-- //end row -->
</div>
{{ include('partials/_footer.twig') }}