    <!-- Footer Start-->
    <footer class="footer-c footer-light section-padding text-center">
      <div class="mb-medium footer-social">
        <a href="https://www.facebook.com/dmuleicester"><i class="fa fa-facebook fa-2x edit-icon"></i></a>
        <a href="https://twitter.com/dmuleicester"><i class="fa fa-twitter fa-2x edit-icon"></i></a>
        <a href="https://plus.google.com/103011102637243054782/posts"><i class="fa fa-google-plus fa-2x edit-icon"></i></a>
        <a href="index.html"><i class="fa fa-home fa-2x edit-icon"></i></a>
      </div>
      <div class="copyright-tag">P14138628 | James English&copy; | PHPSOC </div>
    </footer>
    <!-- Footer End -->
    <!-- Scripts Start -->
    <script src="{{ asset('js/navigation.js', 'theme') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX4Gl4Js_kKMVh2lEtwx5QN1eY1i0BpSE&callback=initMap"></script>
    <script src="{{ asset('js/map.js', 'theme') }}"></script>
    <!-- Script end-->
  </body>
</html>
