<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ record.title}}</title>
    <!-- CSS -->
	 <link rel="stylesheet" href="{{ asset('css/style.css', 'theme') }}">
    <!-- js imports -->
    <script src="https://use.fontawesome.com/1fdc368cde.js"></script>
  </head>
  <body>