    <!-- Navigation -->
    <header>
      <nav>
        <div class="navWide">
          <div class="wideDiv">
            {{ menu('society', 'partials/_sub_menu.twig') }}
          </div>
        </div>
        <div class="navNarrow">
          <i class="fa fa-bars fa-2x"></i>
          <h4>Menu</h4>
          <div class="narrowLinks hidden">
            {{ menu('society', 'partials/_sub_menu.twig') }}
          </div>
        </div>
      </nav>
      <!-- Navigation End -->