
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
        
                    <span class="mdl-layout__title">{{ app.confg.general.sitename }}</span>
                </span>
            </div>  
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
      <nav class="artmenu mdl-navigation mdl-typography--body-1-force-preferred-font">
        {{ menu('artmain', 'partials/sub_menu.twig') }}
      </nav>
    </div>

  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      {{ menu('artmain', 'partials/sub_menu.twig') }}
    </nav>
  </div>
